<section class="todoapp">
	<header class="header">
		<h1>todos</h1>
		<input class="new-todo" placeholder="What needs to be done?" autofocus="" [(ngModel)]="newTodoText" (keyup.enter)="addTodo()">
	</header>
	<section class="main" *ngIf="todos.length > 0">
		<input class="toggle-all" type="checkbox" *ngIf="todos.length" #toggleall [checked]="todos.length === completed" (click)="setAllTo(toggleall.checked)">
		<ul class="todo-list">
			<li *ngFor="let todo of todos" [class.completed]="todo.completed" [class.editing]="todo.editing">
				<div class="view">
					<input class="toggle" type="checkbox" (click)="toggleCompletion(todo)" [checked]="todo.completed">
					<label (dblclick)="editTodo(todo)">{{todo.title}}</label>
					<button class="destroy" (click)="remove(todo)"></button>
				</div>
				<input class="edit" *ngIf="todo.editing" #edited
					[value]="todo.title"
					(keyup.enter)="updateEditingTodo(todo, edited.value)"
					(keyup.escape)="cancelEditingTodo(todo)">
			</li>
		</ul>
	</section>
	<footer class="footer" *ngIf="todos.length > 0">
		<span class="todo-count"><strong>{{remaining}}</strong> {{remaining == 1 ? 'item' : 'items'}} left</span>
		<button class="clear-completed" *ngIf="completed > 0" (click)="removeCompleted()">Clear completed</button>
	</footer>
</section>
